# maven ignore
target/

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
.idea_modules/
*.ipr
*.iml
*.iws

# package ignore
*.class
*.jar
*.war
*.ear

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db

# project ignore
**/tmp
pom.xml.versionsBackup

# generated at runtime
logs/
data/
nohup.out

# git user
src/main/resources/

# git ignore
.gitignore

